.container {
    display: flex;
    flex-direction: row;
    background-color: black;
}
.navbar-nav > li > a.dropdown-toggle {
    color: #f05423 !important;
}
.navbar-nav > li > a {
    color: white !important;
    font:bold 
}
